.pagina{text-decoration: none;

    text-decoration: none;
    padding: 10px;
    background:  rgb(168, 230, 25);
    color: black;
}
.pagina:hover{ background-color: rgb(172, 162, 162);}

nav{
    display: flex;
   justify-content: space-around;
   background: rgb(168, 230, 25);
    color:  rgb(32, 32, 32);
}
 
h1{
    display: flex;
   justify-content: space-around;
   background: rgb(168, 230, 25);
    color: rgb(58, 43, 43);}

.container-fluid{
    color: rgb(32, 32, 32);
    background: rgb(168, 230, 25);
}

.card-body{
    background: rgb(168, 230, 25)

}
@media(max-width: 300px) {
    nav{
       background: black;
    flex-direction: column;
color: red;
}
.pagina{
    color: red;}
    

    .nav-bar{
        margin: 10px 0px;
        color: red;


    }
    }